<?php

function connectSql(){
$dsn = 'host';
$usr = 'user';
$pwd = 'password';

$conn = new mysqli($dsn, $usr, $pwd);
// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}
return $conn;
}

function connectDb($db){
$dsn = 'mysql:host=host;dbname='.$db.';charset=utf8';
$usr = 'user';
$pwd = 'password';

$pdo = new \Slim\PDO\Database($dsn, $usr, $pwd);

return $pdo;
}

 ?>
